* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000 ;
    color: #fff;
}
.container {
    display: flex;
    height: 100vh;
}
.sideber {
    width: 300px;
    background-color: #121212 ;
    padding: 24px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
}
.nav-logo i {
    font-size: 24px;

}
.nav-library i {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-library i, nav-library p {
    color: #B7B3B6;
    font-size: 24px;
}
.nav-playlist, .nav-podcast {
    background-color: #242424 ;
    padding: 16px;
    border-radius: 8px;
}
.nav-playlist button {
    background-color: #121212 ;
    color: #000;
    border: none;
    padding:  6px 10px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;    
}
.nav-playlist p, .nav-podcast p {
    font-size: 12px;
}
.nav-footer a {
    margin-top: 
}
main {
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;

}
.search-bar {
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 16px;
    width: 300px;
}
.search-bar input{
    background-color: #242424;
    border: none;
    color: #fff;
    width: 100%;
    margin-left: 10px;
    outline: none;
}
.artists-grid, .albums-grid {
    display: grid;
    grid-template-columns: repeat(autofill, minmax(180px, 1fr));
}
.artists-grid, .albums-grid {
    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: colimn;
    justify-content: space-evenly;
}    
.artists-grid, .albums-grid {
    background-color: #282828;
}
.artists-card img, .albums-card img {
    width: 100%;
    max-height: 80%;
    border-radius: 50%;
    margin-bottom: 16px;
}